-- MySQL dump 10.13  Distrib 8.1.0, for Linux (x86_64)
--
-- Host: localhost    Database: boticafarma
-- ------------------------------------------------------
-- Server version	8.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `almacen`
--

DROP TABLE IF EXISTS `almacen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `almacen` (
  `idAlmacen` int NOT NULL AUTO_INCREMENT,
  `direccion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `latitud` decimal(10,7) DEFAULT NULL,
  `longitud` decimal(10,7) DEFAULT NULL,
  `nombre_sucursal` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `idBotica` int NOT NULL,
  `idProveedor` int DEFAULT NULL,
  PRIMARY KEY (`idAlmacen`),
  KEY `FKdybxno2v9ar1aljmf1btogqu7` (`idBotica`),
  KEY `FKe6si078bht0bqgtnm8fnbq66q` (`idProveedor`),
  CONSTRAINT `FKdybxno2v9ar1aljmf1btogqu7` FOREIGN KEY (`idBotica`) REFERENCES `botica` (`idBotica`),
  CONSTRAINT `FKe6si078bht0bqgtnm8fnbq66q` FOREIGN KEY (`idProveedor`) REFERENCES `proveedor` (`idProveedor`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `almacen`
--

LOCK TABLES `almacen` WRITE;
/*!40000 ALTER TABLE `almacen` DISABLE KEYS */;
INSERT INTO `almacen` VALUES (4,'Jr Sao Paulo 1867',0.0000000,0.0000000,'Principal SMP',4,NULL),(5,'Av Metropolitana 320',NULL,NULL,'Sede Ate',4,NULL),(6,'Av Nicol├ís Ayll├│n 1235',NULL,NULL,'Sede Santa Anita',4,NULL);
/*!40000 ALTER TABLE `almacen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `botica`
--

DROP TABLE IF EXISTS `botica`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `botica` (
  `idBotica` int NOT NULL AUTO_INCREMENT,
  `fecha_creacion` datetime(6) DEFAULT NULL,
  `nombre_botica` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ruc` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`idBotica`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `botica`
--

LOCK TABLES `botica` WRITE;
/*!40000 ALTER TABLE `botica` DISABLE KEYS */;
INSERT INTO `botica` VALUES (4,'2026-07-20 19:22:11.047642','BoticaFarma','11987654321');
/*!40000 ALTER TABLE `botica` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categoria`
--

DROP TABLE IF EXISTS `categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categoria` (
  `idCategoria` int NOT NULL AUTO_INCREMENT,
  `nombre_categoria` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`idCategoria`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria`
--

LOCK TABLES `categoria` WRITE;
/*!40000 ALTER TABLE `categoria` DISABLE KEYS */;
INSERT INTO `categoria` VALUES (1,'Analgesicos y Antiinflamatorios'),(2,'Antibioticos y Antimicrobianos'),(3,'Antihistaminicos y Antialergicos'),(4,'Antigripales y Tos'),(5,'Digestivos y Antiacidos'),(6,'Cardiovasculares y Presion'),(7,'Dermatologicos y Cremas'),(8,'Vitaminas y Suplementos'),(9,'Cuidado Infantil y Bebes'),(10,'Higiene Personal'),(11,'Cuidado Bucal'),(12,'Primeros Auxilios'),(13,'Salud Femenina'),(14,'Oftalmologicos y Gotas'),(15,'Productos Ortopedicos');
/*!40000 ALTER TABLE `categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cliente` (
  `idCliente` int NOT NULL AUTO_INCREMENT,
  `DNI` int NOT NULL,
  `RUC` bigint DEFAULT NULL,
  `apellido_mat` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellido_pat` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`idCliente`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente`
--

LOCK TABLES `cliente` WRITE;
/*!40000 ALTER TABLE `cliente` DISABLE KEYS */;
INSERT INTO `cliente` VALUES (1,99999999,NULL,'Comun','Comun','Cliente');
/*!40000 ALTER TABLE `cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compra`
--

DROP TABLE IF EXISTS `compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compra` (
  `idCompra` int NOT NULL AUTO_INCREMENT,
  `fecha` datetime(6) DEFAULT NULL,
  `total` decimal(10,2) DEFAULT NULL,
  `idAlmacen` int DEFAULT NULL,
  `iDUsuario` int DEFAULT NULL,
  PRIMARY KEY (`idCompra`),
  KEY `FKrm56o35qud6xgc38ytwmfmj3f` (`idAlmacen`),
  KEY `FK7l4k3dgn199ohf3dr8m79x725` (`iDUsuario`),
  CONSTRAINT `FK7l4k3dgn199ohf3dr8m79x725` FOREIGN KEY (`iDUsuario`) REFERENCES `usuario` (`idUsuario`),
  CONSTRAINT `FKrm56o35qud6xgc38ytwmfmj3f` FOREIGN KEY (`idAlmacen`) REFERENCES `almacen` (`idAlmacen`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compra`
--

LOCK TABLES `compra` WRITE;
/*!40000 ALTER TABLE `compra` DISABLE KEYS */;
INSERT INTO `compra` VALUES (1,'2026-07-20 22:42:46.477804',180000.00,NULL,1);
/*!40000 ALTER TABLE `compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_compra`
--

DROP TABLE IF EXISTS `detalle_compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_compra` (
  `idDetalle_compra` int NOT NULL AUTO_INCREMENT,
  `cantidad` int DEFAULT NULL,
  `precio_unitario` decimal(10,2) DEFAULT NULL,
  `subtotal` decimal(10,2) DEFAULT NULL,
  `idCompra` int DEFAULT NULL,
  `idProducto` int DEFAULT NULL,
  PRIMARY KEY (`idDetalle_compra`),
  KEY `FKgh7ab07qspqv1cokqfoad64yw` (`idCompra`),
  KEY `FKc6u83d0a7xurrextd9x7vv18w` (`idProducto`),
  CONSTRAINT `FKc6u83d0a7xurrextd9x7vv18w` FOREIGN KEY (`idProducto`) REFERENCES `producto` (`idProducto`),
  CONSTRAINT `FKgh7ab07qspqv1cokqfoad64yw` FOREIGN KEY (`idCompra`) REFERENCES `compra` (`idCompra`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_compra`
--

LOCK TABLES `detalle_compra` WRITE;
/*!40000 ALTER TABLE `detalle_compra` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_venta`
--

DROP TABLE IF EXISTS `detalle_venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_venta` (
  `idDetalle_venta` int NOT NULL AUTO_INCREMENT,
  `cantidad` int NOT NULL,
  `precio_unitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `idCliente` int DEFAULT NULL,
  `idProducto` int DEFAULT NULL,
  `idVenta` int DEFAULT NULL,
  PRIMARY KEY (`idDetalle_venta`),
  KEY `FKlj21arau875f4rits8qkbtws9` (`idCliente`),
  KEY `FKkyehthdvuhkpo5oyy05waff9r` (`idProducto`),
  KEY `FK6o4sd5u8tdr8kd6hxp9a9ebc` (`idVenta`),
  CONSTRAINT `FK6o4sd5u8tdr8kd6hxp9a9ebc` FOREIGN KEY (`idVenta`) REFERENCES `venta` (`idVenta`),
  CONSTRAINT `FKkyehthdvuhkpo5oyy05waff9r` FOREIGN KEY (`idProducto`) REFERENCES `producto` (`idProducto`),
  CONSTRAINT `FKlj21arau875f4rits8qkbtws9` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_venta`
--

LOCK TABLES `detalle_venta` WRITE;
/*!40000 ALTER TABLE `detalle_venta` DISABLE KEYS */;
INSERT INTO `detalle_venta` VALUES (1,3,2.00,6.00,1,1,1);
/*!40000 ALTER TABLE `detalle_venta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_venta_lote`
--

DROP TABLE IF EXISTS `detalle_venta_lote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_venta_lote` (
  `idDetalle_venta_lote` int NOT NULL AUTO_INCREMENT,
  `cantidad_descontada` int NOT NULL,
  `idDetalle_venta` int NOT NULL,
  `idLote` int NOT NULL,
  PRIMARY KEY (`idDetalle_venta_lote`),
  KEY `FKh1ouoaaj32cs8jppw9tfygvqf` (`idDetalle_venta`),
  KEY `FKn6ph3mpk5aj6tqlerlekni4fb` (`idLote`),
  CONSTRAINT `FKh1ouoaaj32cs8jppw9tfygvqf` FOREIGN KEY (`idDetalle_venta`) REFERENCES `detalle_venta` (`idDetalle_venta`),
  CONSTRAINT `FKn6ph3mpk5aj6tqlerlekni4fb` FOREIGN KEY (`idLote`) REFERENCES `lote` (`idLote`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_venta_lote`
--

LOCK TABLES `detalle_venta_lote` WRITE;
/*!40000 ALTER TABLE `detalle_venta_lote` DISABLE KEYS */;
INSERT INTO `detalle_venta_lote` VALUES (1,3,1,1);
/*!40000 ALTER TABLE `detalle_venta_lote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lote`
--

DROP TABLE IF EXISTS `lote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lote` (
  `idLote` int NOT NULL AUTO_INCREMENT,
  `cantidad_actual` int NOT NULL,
  `cantidad_inicial` int NOT NULL,
  `codigo_lote` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado_lote` enum('AGOTADO','DISPONIBLE','PROXIMO_A_TERMINAR','PROXIMO_A_VENCER','VENCIDO') COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_ingreso` date NOT NULL,
  `fecha_vencimiento` date NOT NULL,
  `precio_compra` decimal(10,2) NOT NULL,
  `idCompra` int DEFAULT NULL,
  `idProducto` int NOT NULL,
  `idAlmacen` int NOT NULL,
  PRIMARY KEY (`idLote`),
  KEY `FK5pqov0krncwlvj9pucwd6my79` (`idCompra`),
  KEY `FKku7pnnx5s331bmgvylabjvo2v` (`idProducto`),
  KEY `fk_lote_almacen` (`idAlmacen`),
  CONSTRAINT `FK5pqov0krncwlvj9pucwd6my79` FOREIGN KEY (`idCompra`) REFERENCES `compra` (`idCompra`),
  CONSTRAINT `fk_lote_almacen` FOREIGN KEY (`idAlmacen`) REFERENCES `almacen` (`idAlmacen`),
  CONSTRAINT `FKku7pnnx5s331bmgvylabjvo2v` FOREIGN KEY (`idProducto`) REFERENCES `producto` (`idProducto`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lote`
--

LOCK TABLES `lote` WRITE;
/*!40000 ALTER TABLE `lote` DISABLE KEYS */;
INSERT INTO `lote` VALUES (1,297,300,'LT-01-01-21072026-001','DISPONIBLE','2026-07-21','2030-05-27',600.00,1,1,4);
/*!40000 ALTER TABLE `lote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marca`
--

DROP TABLE IF EXISTS `marca`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marca` (
  `idMarca` int NOT NULL AUTO_INCREMENT,
  `nombre_marca` varchar(60) COLLATE utf8mb4_unicode_ci NOT NULL,
  `idProveedor` int NOT NULL,
  PRIMARY KEY (`idMarca`),
  KEY `FKc8jpn6f94vmyx0no0cjcch89s` (`idProveedor`),
  CONSTRAINT `FKc8jpn6f94vmyx0no0cjcch89s` FOREIGN KEY (`idProveedor`) REFERENCES `proveedor` (`idProveedor`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marca`
--

LOCK TABLES `marca` WRITE;
/*!40000 ALTER TABLE `marca` DISABLE KEYS */;
INSERT INTO `marca` VALUES (1,'Panadol',1);
/*!40000 ALTER TABLE `marca` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producto`
--

DROP TABLE IF EXISTS `producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `producto` (
  `idProducto` int NOT NULL AUTO_INCREMENT,
  `precio` decimal(10,2) NOT NULL,
  `Stock` int NOT NULL,
  `nombre_producto` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `idBotica` int NOT NULL,
  `idCategoria` int NOT NULL,
  `idMarca` int NOT NULL,
  PRIMARY KEY (`idProducto`),
  KEY `FKtqt6l49yube6rwmky99cm89xh` (`idBotica`),
  KEY `FKclu8sffkue5l900b02xrnulk9` (`idCategoria`),
  KEY `FKb4b201xnlpwpc6iwdu6668ibq` (`idMarca`),
  CONSTRAINT `FKb4b201xnlpwpc6iwdu6668ibq` FOREIGN KEY (`idMarca`) REFERENCES `marca` (`idMarca`),
  CONSTRAINT `FKclu8sffkue5l900b02xrnulk9` FOREIGN KEY (`idCategoria`) REFERENCES `categoria` (`idCategoria`),
  CONSTRAINT `FKtqt6l49yube6rwmky99cm89xh` FOREIGN KEY (`idBotica`) REFERENCES `botica` (`idBotica`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producto`
--

LOCK TABLES `producto` WRITE;
/*!40000 ALTER TABLE `producto` DISABLE KEYS */;
INSERT INTO `producto` VALUES (1,2.00,297,'Paracetamol 500mg',4,1,1);
/*!40000 ALTER TABLE `producto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producto_almacen`
--

DROP TABLE IF EXISTS `producto_almacen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `producto_almacen` (
  `idProducto` int NOT NULL,
  `idAlmacen` int NOT NULL,
  PRIMARY KEY (`idProducto`,`idAlmacen`),
  KEY `FK7creaep5hvyv9idg3r11owxo6` (`idAlmacen`),
  CONSTRAINT `FK7creaep5hvyv9idg3r11owxo6` FOREIGN KEY (`idAlmacen`) REFERENCES `almacen` (`idAlmacen`),
  CONSTRAINT `FKo24xn93vnm3iikxlbhu24u0cl` FOREIGN KEY (`idProducto`) REFERENCES `producto` (`idProducto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producto_almacen`
--

LOCK TABLES `producto_almacen` WRITE;
/*!40000 ALTER TABLE `producto_almacen` DISABLE KEYS */;
/*!40000 ALTER TABLE `producto_almacen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedor`
--

DROP TABLE IF EXISTS `proveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedor` (
  `idProveedor` int NOT NULL AUTO_INCREMENT,
  `direccion` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre_proveedor` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`idProveedor`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedor`
--

LOCK TABLES `proveedor` WRITE;
/*!40000 ALTER TABLE `proveedor` DISABLE KEYS */;
INSERT INTO `proveedor` VALUES (1,'Av. Jorge Basadre Grohmann Nro. 347','haleonPeru@gmail.com','Haleon Peru SRL');
/*!40000 ALTER TABLE `proveedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `idUsuario` int NOT NULL AUTO_INCREMENT,
  `amat` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apat` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rol` enum('ADMIN','FARMACEUTICO','REPARTIDOR') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `username` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `idAlmacen` int DEFAULT NULL,
  `idBotica` int NOT NULL,
  PRIMARY KEY (`idUsuario`),
  KEY `FKdu1mv4ekw4ffi7v4g1sncivc` (`idAlmacen`),
  KEY `FKckh0vikt97blk7tdyrxqsf2k9` (`idBotica`),
  CONSTRAINT `FKckh0vikt97blk7tdyrxqsf2k9` FOREIGN KEY (`idBotica`) REFERENCES `botica` (`idBotica`),
  CONSTRAINT `FKdu1mv4ekw4ffi7v4g1sncivc` FOREIGN KEY (`idAlmacen`) REFERENCES `almacen` (`idAlmacen`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES (1,'Vivanco','Tang','adminboticafarma@botica.com','Gabriel','$2a$10$9j/s735MfKUPxZh/2TTB7u6bev2bZZv5cB4zMfhOgo.ZL9V.FOIK2','ADMIN','gabrielT2025',4,4),(2,'Meza','Mallqui',NULL,'Jos├® Francisco','$2a$10$C/ylwYXAIM.Ke.Wnp6IxHOlgs8J449eAI44k4FYo5x4T7FQjYS/Tq','FARMACEUTICO','pokachu201',4,4),(3,'Palomino','S├ínchez',NULL,'Roberto','$2a$10$9R.aG3qXY3M7QXM140hkeOc3Z9zTvWgqE/Y1hFkIhL.NVSnOJbscW','REPARTIDOR','REP_DE38AA6B',4,4),(4,'Hidalgo','Soto',NULL,'Alexander Manuel','$2a$10$gZ7ZATjk8fU1sElZ7PwhAON5ZCOKn3TprcSy8lW5Xa7RT9XocAYLa','FARMACEUTICO','alexsoto2026',5,4);
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venta`
--

DROP TABLE IF EXISTS `venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venta` (
  `idVenta` int NOT NULL AUTO_INCREMENT,
  `fecha` datetime(6) DEFAULT NULL,
  `metodopago` enum('EFECTIVO','PLIN','TARJETA','YAPE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_venta` enum('DELIVERY','MOSTRADOR') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `total` decimal(10,2) DEFAULT NULL,
  `idAlmacen` int NOT NULL,
  `idUsuario` int NOT NULL,
  PRIMARY KEY (`idVenta`),
  KEY `FK73ckd406csnmx8h87r1x499dd` (`idAlmacen`),
  KEY `FK4fg17x4lujbam9ck6d3t94nl5` (`idUsuario`),
  CONSTRAINT `FK4fg17x4lujbam9ck6d3t94nl5` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`),
  CONSTRAINT `FK73ckd406csnmx8h87r1x499dd` FOREIGN KEY (`idAlmacen`) REFERENCES `almacen` (`idAlmacen`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venta`
--

LOCK TABLES `venta` WRITE;
/*!40000 ALTER TABLE `venta` DISABLE KEYS */;
INSERT INTO `venta` VALUES (1,'2026-07-21 01:53:14.863903','EFECTIVO',NULL,6.00,4,1);
/*!40000 ALTER TABLE `venta` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-21 21:39:00
