-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: boticafarma
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `almacen`
--

DROP TABLE IF EXISTS `almacen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `almacen` (
  `idAlmacen` int NOT NULL AUTO_INCREMENT,
  `idProveedor` int DEFAULT NULL,
  `latitud` decimal(10,7) DEFAULT NULL,
  `longitud` decimal(10,7) DEFAULT NULL,
  `idBotica` int NOT NULL,
  `nombre_sucursal` varchar(255) NOT NULL DEFAULT 'Sede Principal',
  `direccion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idAlmacen`),
  KEY `fk_Almacen_Proveedor1_idx` (`idProveedor`),
  KEY `fk_Almacen_Botica` (`idBotica`),
  CONSTRAINT `fk_Almacen_Botica` FOREIGN KEY (`idBotica`) REFERENCES `botica` (`idBotica`),
  CONSTRAINT `fk_Almacen_Proveedor1` FOREIGN KEY (`idProveedor`) REFERENCES `proveedor` (`idProveedor`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `almacen`
--

LOCK TABLES `almacen` WRITE;
/*!40000 ALTER TABLE `almacen` DISABLE KEYS */;
INSERT INTO `almacen` VALUES (1,NULL,NULL,NULL,1,'Sucursal Central','Av. Principal 123');
/*!40000 ALTER TABLE `almacen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `botica`
--

DROP TABLE IF EXISTS `botica`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `botica` (
  `idBotica` int NOT NULL AUTO_INCREMENT,
  `nombre_botica` varchar(255) NOT NULL,
  `ruc` varchar(20) DEFAULT NULL,
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`idBotica`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `botica`
--

LOCK TABLES `botica` WRITE;
/*!40000 ALTER TABLE `botica` DISABLE KEYS */;
INSERT INTO `botica` VALUES (1,'BoticaFarma Central','20123456789','2026-07-20 05:39:49');
/*!40000 ALTER TABLE `botica` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categoria`
--

DROP TABLE IF EXISTS `categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categoria` (
  `idCategoria` int NOT NULL AUTO_INCREMENT,
  `nombre_categoria` varchar(255) NOT NULL,
  PRIMARY KEY (`idCategoria`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria`
--

LOCK TABLES `categoria` WRITE;
/*!40000 ALTER TABLE `categoria` DISABLE KEYS */;
INSERT INTO `categoria` VALUES (1,'Analg├®sicos y Antiinflamatorios'),(2,'Antibi├│ticos'),(3,'Antial├®rgicos y Antihistam├¡nicos'),(4,'Antigripales y Resfr├¡os'),(5,'Gastrointestinales'),(6,'Vitaminas y Suplementos'),(7,'Cuidado Personal'),(8,'Cuidado del Beb├®'),(9,'Primeros Auxilios'),(10,'Anticonceptivos y Salud Sexual'),(11,'Equipos M├®dicos y Accesorios'),(12,'Dermatol├│gicos'),(13,'Oft├ílmicos y ├ôticos'),(14,'Sistema Nervioso y Tranquilizantes');
/*!40000 ALTER TABLE `categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cliente` (
  `idCliente` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `apellido_pat` varchar(255) NOT NULL,
  `apellido_mat` varchar(255) NOT NULL,
  `DNI` int NOT NULL,
  `RUC` bigint DEFAULT NULL,
  `idBotica` int DEFAULT NULL,
  PRIMARY KEY (`idCliente`),
  KEY `fk_Cliente_Botica` (`idBotica`),
  CONSTRAINT `fk_Cliente_Botica` FOREIGN KEY (`idBotica`) REFERENCES `botica` (`idBotica`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente`
--

LOCK TABLES `cliente` WRITE;
/*!40000 ALTER TABLE `cliente` DISABLE KEYS */;
INSERT INTO `cliente` VALUES (1,'Cliente','Boticafarma','Comun',0,NULL,1),(2,'Marcelo Fabi├ín','Palacios','Cherre',75849302,12334356087,1),(3,'Oliver','Enaine','Vera',81327654,NULL,1),(4,'Hern├ín','Barcos','Peralta',75894032,NULL,1),(5,'Luis','Lopez','Aliaga',12321345,NULL,1),(6,'Ernesto','Quispe','Quintana',75893402,12345678901,1);
/*!40000 ALTER TABLE `cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compra`
--

DROP TABLE IF EXISTS `compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compra` (
  `idCompra` int NOT NULL AUTO_INCREMENT,
  `idUsuario` int NOT NULL,
  `idAlmacen` int DEFAULT NULL,
  `fecha` timestamp NOT NULL,
  `total` decimal(10,2) NOT NULL,
  PRIMARY KEY (`idCompra`),
  KEY `fk_Compra_Usuario1_idx` (`idUsuario`),
  KEY `fk_Compra_Almacen2_idx` (`idAlmacen`),
  CONSTRAINT `fk_Compra_Almacen2` FOREIGN KEY (`idAlmacen`) REFERENCES `almacen` (`idAlmacen`),
  CONSTRAINT `fk_Compra_Usuario1` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compra`
--

LOCK TABLES `compra` WRITE;
/*!40000 ALTER TABLE `compra` DISABLE KEYS */;
INSERT INTO `compra` VALUES (1,1,1,'2025-11-11 07:37:56',2550.00),(2,1,1,'2025-11-11 08:38:46',70000.00),(3,1,1,'2025-11-12 00:57:21',5000.00),(4,1,1,'2025-11-12 01:03:22',17500.00),(5,1,1,'2025-11-12 01:04:34',50000.00),(6,1,1,'2025-11-12 01:05:22',12500.00),(7,1,1,'2025-11-25 12:06:12',48000.00),(8,1,1,'2025-11-26 05:33:02',20000.00),(9,1,1,'2025-11-26 02:59:26',2550.00),(10,1,1,'2025-11-26 03:58:15',100000.00),(11,1,1,'2025-11-29 01:10:47',100000.00),(12,1,1,'2025-12-05 04:27:43',50000.00);
/*!40000 ALTER TABLE `compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_compra`
--

DROP TABLE IF EXISTS `detalle_compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_compra` (
  `idDetalle_compra` int NOT NULL AUTO_INCREMENT,
  `idCompra` int NOT NULL,
  `idProducto` int NOT NULL,
  `idLote` int NOT NULL,
  `cantidad` int NOT NULL,
  `precio_unitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  PRIMARY KEY (`idDetalle_compra`),
  KEY `fk_Detalle_compra_Compra1_idx` (`idCompra`),
  KEY `fk_Detalle_compra_Producto1_idx` (`idProducto`),
  KEY `fk_Detalle_compra_Lote_idx` (`idLote`),
  CONSTRAINT `fk_Detalle_compra_Compra1` FOREIGN KEY (`idCompra`) REFERENCES `compra` (`idCompra`),
  CONSTRAINT `fk_Detalle_compra_Lote` FOREIGN KEY (`idLote`) REFERENCES `lote` (`idLote`),
  CONSTRAINT `fk_Detalle_compra_Producto1` FOREIGN KEY (`idProducto`) REFERENCES `producto` (`idProducto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_compra`
--

LOCK TABLES `detalle_compra` WRITE;
/*!40000 ALTER TABLE `detalle_compra` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_venta`
--

DROP TABLE IF EXISTS `detalle_venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_venta` (
  `idDetalle_venta` int NOT NULL AUTO_INCREMENT,
  `idVenta` int NOT NULL,
  `idProducto` int NOT NULL,
  `cantidad` int NOT NULL,
  `precio_unitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `idCliente` int DEFAULT NULL,
  PRIMARY KEY (`idDetalle_venta`),
  KEY `fk_Detalle_venta_Venta1_idx` (`idVenta`),
  KEY `fk_Detalle_venta_Producto1_idx` (`idProducto`),
  KEY `FKlj21arau875f4rits8qkbtws9` (`idCliente`),
  CONSTRAINT `fk_Detalle_venta_Producto1` FOREIGN KEY (`idProducto`) REFERENCES `producto` (`idProducto`),
  CONSTRAINT `fk_Detalle_venta_Venta1` FOREIGN KEY (`idVenta`) REFERENCES `venta` (`idVenta`),
  CONSTRAINT `FKlj21arau875f4rits8qkbtws9` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_venta`
--

LOCK TABLES `detalle_venta` WRITE;
/*!40000 ALTER TABLE `detalle_venta` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_venta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_venta_lote`
--

DROP TABLE IF EXISTS `detalle_venta_lote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_venta_lote` (
  `idDetalle_venta_lote` int NOT NULL AUTO_INCREMENT,
  `idDetalle_venta` int NOT NULL,
  `idLote` int NOT NULL,
  `cantidad_descontada` int NOT NULL,
  PRIMARY KEY (`idDetalle_venta_lote`),
  KEY `fk_DVL_Detalle_venta_idx` (`idDetalle_venta`),
  KEY `fk_DVL_Lote_idx` (`idLote`),
  CONSTRAINT `fk_DVL_Detalle_venta` FOREIGN KEY (`idDetalle_venta`) REFERENCES `detalle_venta` (`idDetalle_venta`),
  CONSTRAINT `fk_DVL_Lote` FOREIGN KEY (`idLote`) REFERENCES `lote` (`idLote`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_venta_lote`
--

LOCK TABLES `detalle_venta_lote` WRITE;
/*!40000 ALTER TABLE `detalle_venta_lote` DISABLE KEYS */;
INSERT INTO `detalle_venta_lote` VALUES (1,1,1,2),(2,2,2,1),(3,3,5,1),(4,4,1,1),(5,5,2,1),(6,6,7,30),(7,7,1,3),(8,8,8,1),(9,9,1,1),(10,10,2,1),(11,11,1,4),(12,12,2,1),(13,13,1,3),(14,14,1,2),(15,15,7,1),(16,16,1,1),(17,17,5,1),(18,18,7,1),(19,19,10,1),(20,20,7,1),(21,21,1,1),(22,22,10,1),(23,23,1,1),(24,24,2,1),(25,25,2,1),(26,26,7,1),(27,27,10,1),(28,28,2,1);
/*!40000 ALTER TABLE `detalle_venta_lote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lote`
--

DROP TABLE IF EXISTS `lote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lote` (
  `idLote` int NOT NULL AUTO_INCREMENT,
  `idProducto` int NOT NULL,
  `idCompra` int NOT NULL,
  `codigo_lote` varchar(50) NOT NULL,
  `cantidad_inicial` int NOT NULL,
  `cantidad_actual` int NOT NULL,
  `fecha_ingreso` date NOT NULL,
  `fecha_vencimiento` date NOT NULL,
  `precio_compra` decimal(10,2) NOT NULL,
  `estado_lote` enum('DISPONIBLE','PROXIMO_A_VENCER','VENCIDO','AGOTADO') NOT NULL,
  PRIMARY KEY (`idLote`),
  KEY `fk_Lote_Producto_idx` (`idProducto`),
  KEY `fk_Lote_Compra_idx` (`idCompra`),
  CONSTRAINT `fk_Lote_Compra` FOREIGN KEY (`idCompra`) REFERENCES `compra` (`idCompra`),
  CONSTRAINT `fk_Lote_Producto` FOREIGN KEY (`idProducto`) REFERENCES `producto` (`idProducto`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lote`
--

LOCK TABLES `lote` WRITE;
/*!40000 ALTER TABLE `lote` DISABLE KEYS */;
/*!40000 ALTER TABLE `lote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marca`
--

DROP TABLE IF EXISTS `marca`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marca` (
  `idMarca` int NOT NULL AUTO_INCREMENT,
  `nombre_marca` varchar(60) NOT NULL,
  `idProveedor` int NOT NULL,
  PRIMARY KEY (`idMarca`),
  KEY `fk_Marca_Proveedor1_idx` (`idProveedor`),
  CONSTRAINT `fk_Marca_Proveedor1` FOREIGN KEY (`idProveedor`) REFERENCES `proveedor` (`idProveedor`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marca`
--

LOCK TABLES `marca` WRITE;
/*!40000 ALTER TABLE `marca` DISABLE KEYS */;
INSERT INTO `marca` VALUES (1,'Panadol',1),(2,'Redoxon',2),(3,'Listerine',3),(4,'Ensure',4),(5,'Cetaphil',5),(6,'Gingisona B',6),(7,'Gen├®rico',7),(8,'Anchor',8),(9,'MarcaZ',9);
/*!40000 ALTER TABLE `marca` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producto`
--

DROP TABLE IF EXISTS `producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `producto` (
  `idProducto` int NOT NULL AUTO_INCREMENT,
  `idCategoria` int NOT NULL,
  `idMarca` int NOT NULL,
  `nombre_producto` varchar(255) NOT NULL,
  `Precio` decimal(10,2) NOT NULL,
  `Stock` int NOT NULL,
  `idBotica` int DEFAULT NULL,
  PRIMARY KEY (`idProducto`),
  KEY `fk_Producto_Categoria_idx` (`idCategoria`),
  KEY `fk_Producto_Marca1_idx` (`idMarca`),
  KEY `fk_Producto_Botica` (`idBotica`),
  CONSTRAINT `fk_Producto_Botica` FOREIGN KEY (`idBotica`) REFERENCES `botica` (`idBotica`),
  CONSTRAINT `fk_Producto_Categoria` FOREIGN KEY (`idCategoria`) REFERENCES `categoria` (`idCategoria`),
  CONSTRAINT `fk_Producto_Marca1` FOREIGN KEY (`idMarca`) REFERENCES `marca` (`idMarca`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='	';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producto`
--

LOCK TABLES `producto` WRITE;
/*!40000 ALTER TABLE `producto` DISABLE KEYS */;
INSERT INTO `producto` VALUES (1,1,1,'Panadol Forte 500mg',5.50,281,1),(2,2,2,'Redoxon Vitamina C 1g',8.90,143,1),(3,4,3,'Listerine Cool Mint 500ml',12.50,197,1),(4,5,4,'Ensure Nutricional 400g',35.00,6,1),(5,3,5,'Cetaphil Crema Hidratante 250ml',35.00,100,1),(6,1,6,'Gingisona SPRAY',26.00,73,1),(7,1,6,'Gingisona PASTILLA MASTICABLE',3.50,99,1),(8,1,7,'Paracetamol 500g',1.00,100,1),(9,1,7,'Dolodran 5 mg',2.00,0,1),(10,4,7,'Medicamento Z',4.00,0,1),(11,7,7,'Producto ZZZ',10.00,0,1);
/*!40000 ALTER TABLE `producto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producto_almacen`
--

DROP TABLE IF EXISTS `producto_almacen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `producto_almacen` (
  `idProducto_Almacen` int NOT NULL AUTO_INCREMENT,
  `idProducto` int NOT NULL,
  `idAlmacen` int NOT NULL,
  PRIMARY KEY (`idProducto_Almacen`),
  KEY `fk_Producto_Almacen_Producto1_idx` (`idProducto`),
  KEY `fk_Producto_Almacen_Almacen1_idx` (`idAlmacen`),
  CONSTRAINT `fk_Producto_Almacen_Almacen1` FOREIGN KEY (`idAlmacen`) REFERENCES `almacen` (`idAlmacen`),
  CONSTRAINT `fk_Producto_Almacen_Producto1` FOREIGN KEY (`idProducto`) REFERENCES `producto` (`idProducto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producto_almacen`
--

LOCK TABLES `producto_almacen` WRITE;
/*!40000 ALTER TABLE `producto_almacen` DISABLE KEYS */;
/*!40000 ALTER TABLE `producto_almacen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedor`
--

DROP TABLE IF EXISTS `proveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedor` (
  `idProveedor` int NOT NULL AUTO_INCREMENT,
  `nombre_proveedor` varchar(255) NOT NULL,
  `direccion` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `idBotica` int DEFAULT NULL,
  PRIMARY KEY (`idProveedor`),
  KEY `fk_Proveedor_Botica` (`idBotica`),
  CONSTRAINT `fk_Proveedor_Botica` FOREIGN KEY (`idBotica`) REFERENCES `botica` (`idBotica`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedor`
--

LOCK TABLES `proveedor` WRITE;
/*!40000 ALTER TABLE `proveedor` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `idUsuario` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `apat` varchar(255) NOT NULL,
  `amat` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `rol` varchar(20) DEFAULT NULL,
  `idBotica` int DEFAULT NULL,
  `idAlmacen` int DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idUsuario`),
  KEY `fk_Usuario_Botica` (`idBotica`),
  KEY `fk_Usuario_Almacen` (`idAlmacen`),
  CONSTRAINT `fk_Usuario_Almacen` FOREIGN KEY (`idAlmacen`) REFERENCES `almacen` (`idAlmacen`),
  CONSTRAINT `fk_Usuario_Botica` FOREIGN KEY (`idBotica`) REFERENCES `botica` (`idBotica`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='	';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venta`
--

DROP TABLE IF EXISTS `venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venta` (
  `idVenta` int NOT NULL AUTO_INCREMENT,
  `idUsuario` int NOT NULL,
  `fecha` timestamp NOT NULL,
  `total` decimal(10,2) NOT NULL,
  `metodopago` enum('EFECTIVO','TARJETA','OTRO') NOT NULL,
  `tipo_venta` enum('MOSTRADOR','DELIVERY') DEFAULT 'MOSTRADOR',
  `idCliente` int NOT NULL DEFAULT '1',
  `idAlmacen` int DEFAULT NULL,
  PRIMARY KEY (`idVenta`),
  KEY `fk_Venta_Usuario1_idx` (`idUsuario`),
  KEY `fk_Venta_Cliente` (`idCliente`),
  KEY `fk_Venta_Almacen` (`idAlmacen`),
  CONSTRAINT `fk_Venta_Almacen` FOREIGN KEY (`idAlmacen`) REFERENCES `almacen` (`idAlmacen`),
  CONSTRAINT `fk_Venta_Cliente` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`),
  CONSTRAINT `fk_Venta_Usuario1` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venta`
--

LOCK TABLES `venta` WRITE;
/*!40000 ALTER TABLE `venta` DISABLE KEYS */;
/*!40000 ALTER TABLE `venta` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-20 18:41:09
