###############################
# ENV VARIABLES PARA FRONTEND #
###############################

# Esta variable sí debe usar REACT_APP_ porque se inyecta en el bundle del frontend.
REACT_APP_API_BASE_URL=http://localhost:8080/api


#############################################
# ENV VARIABLES PRIVADAS PARA SPRING BOOT   #
#############################################

# NO se usa "export" dentro del archivo .env
# Spring-dotenv NO los interpreta con "export".
# Solo escribe VARIABLE=valor directamente.

# Credenciales de la base de datos MYSQL
DB_USERNAME=ID_DB
DB_PASSWORD=CONTRASEÑA_DB

# Directorio donde se guardan los PDF del backend
PDF_DIRECTORY=PONER_TU_RUTA_AQUI
#OJO, LA RUTA ESTÁ EN LA RAÍZ DE BOTICAFARMA POR LO GENERAL
